{% extends '@Commerce/Sale/view.html.twig' %}

{% block integer_widget %}
{% apply spaceless %}
    <div class="sale-detail-quantity{% if errors|length > 0 %} has-error{% endif %}">
        {% set type = type|default('number') %}
        {% if errors|length > 0 %}
            {% set attr = attr|merge({'title': errors}) %}
        {% endif %}
        {{ block('form_widget_simple') }}
    </div>
{% endapply %}
{% endblock %}


{% block actions %}
{% apply spaceless %}
    <td class="sale-detail-actions">
    {% if line.actions is defined -%}
        {% if 2 < line.actions|length -%}
            <div>
        {%- endif %}
        {% for action in line.actions -%}
        <a href="{{ action.path }}"{% with {attr: action.attributes} %} {{ block('attributes') }}{% endwith %}>
            <i class="{{ action.icon }}"></i>
        </a>
        {%- endfor %}
        {% if 2 < line.actions|length -%}
            <a href="javascript: void(0)" class="text-muted">
                <i class="fa fa-ellipsis-h"></i>
            </a>
        </div>
        {%- endif %}
    {%- endif %}
    </td>
{% endapply %}
{% endblock actions %}


{% block lines_headers %}
{% apply spaceless %}
    {% if view.vars.show_batch %}<td>&nbsp;</td>{% endif %}
    {{ parent() }}
    <th class="sale-detail-actions">
        {% if view.vars.private -%}
        <a data-sale-toggle-all-children
           href="javascript: void(0)"
           title="Afficher les détails">{# TODO Translate #}
            <i class="fa fa-info-circle"></i>
        </a>
        {%- endif %}
    </th>
{% endapply %}
{% endblock lines_headers %}


{% block line_quantity %}
{% apply spaceless %}
    <td class="sale-detail-quantity">
        {% if view.vars.quantities_form[line.formId] is defined %}
            {% form_theme view.vars.quantities_form[line.formId] _self %}
            {{ form_widget(view.vars.quantities_form[line.formId]) }}
        {#{%- if line.source is sale_item and not line.source.immutable -%}
            <input type="number" id="sale_item_{{ line.source.id }}_quantity"
                   name="sale[item][{{ line.source.id }}][quantity]"
                   required="required" min="1" class="form-control" value="{{ line.quantity }}">#}
        {% else %}
            <span id="{{ line.id }}_quantity">{{ line.quantity }}</span>
        {% endif %}
    </td>
{% endapply %}
{% endblock line_quantity %}


{% block line_public %}
{% apply spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endapply %}
{% endblock line_public %}


{% block line_private %}
{% apply spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endapply %}
{% endblock line_private %}


{% block line_information %}
{% apply spaceless %}
    <td class="sale-detail-information" colspan="{{ view.vars.columns_count - 2 }}">
        {{ line.vars.information|raw }}
    </td>
    <td class="sale-detail-actions">&nbsp;</td>
{% endapply %}
{% endblock line_information %}


{% block line_columns %}
{% apply spaceless %}
    {% if view.vars.show_batch -%}
    <td class="sale-detail-select">
        {%- if line.source is sale_item and not line.source.parent -%}
        <input type="checkbox" id="sale_item_{{ line.source.id }}_select" name="sale[items][]"
               value="{{ line.source.id }}"{% if not line.batchable %} disabled{% endif %}>
        {%- endif -%}
    </td>
    {%- endif %}
    {{ parent() }}
{% endapply %}
{% endblock line_columns %}


{% block gross_totals %}
{% apply spaceless %}
    <tbody>
    <tr id="sale_gross">
        {% if view.vars.show_batch %}<td>&nbsp;</td>{% endif %}
        <th>&nbsp;</th>
        <th class="text-right" colspan="{{ view.vars.columns_count - (view.vars.show_discounts ? 7 : 4) + (view.vars.show_availability ? 1 : 0) }}">
            <strong>{{ view.translations.gross_totals }}</strong>
        </th>
        {%- if view.vars.show_discounts -%}
        <th class="text-right sale-detail-gross" id="gross_base">
            {{- view.gross.base -}}
        </th>
        <th class="text-right sale-detail-gross" colspan="2" id="gross_discount">
            -{{- view.gross.adjustment -}}
        </th>
        {%- endif -%}
        <th class="text-right sale-detail-gross" id="gross_total">
            {{- view.gross.total -}}
        </th>
        <th{% if view.vars.show_margin %} colspan="2"{% endif %}>&nbsp;</th>
    </tr>
    </tbody>
{% endapply %}
{% endblock gross_totals %}


{% block discount %}
{% apply spaceless %}
    {% if view.vars.show_batch %}<td>&nbsp;</td>{% endif %}
    {{ parent() }}
    {{ block('actions') }}
{% endapply %}
{% endblock discount %}


{% block shipment %}
{% apply spaceless %}
    {% if view.vars.show_batch %}<td>&nbsp;</td>{% endif %}
    {{ parent() }}
    {{ block('actions') }}
{% endapply %}
{% endblock shipment %}


{% block gran_totals %}
{% apply spaceless %}
    <tbody>
    <tr>
        <td colspan="{{ view.vars.columns_count - (view.vars.show_margin ? 4 : 3) }}"
            rowspan="{{ (view.vars.show_margin ? 5 : 3) - (view.ati ? 1 : 0) }}" class="sale-detail-buttons">
            {{ block('messages') -}}
            {{ form_widget(view.vars.quantities_form.recalculate) }}
            {% if view.vars.show_batch -%}
                <button type="button" id="sale_items_remove" name="sale_items_remove" disabled
                        class="sale-view-batch btn-sm btn btn-danger disabled" data-action="remove-items"
                        data-confirm="{{ view.translations.confirm_batch_remove }}">
                    {{- view.translations.btn_batch_remove -}}
                </button>
                <button type="button" id="sale_items_synchronise" name="sale_items_synchronise" disabled
                        class="sale-view-batch btn-sm btn btn-warning disabled" data-action="synchronise-subjects"
                        data-confirm="{{ view.translations.confirm_batch_synchronize }}">
                    {{- view.translations.btn_batch_synchronize -}}
                </button>
            {%- endif %}
        </td>
        <th>{{ (view.ati ? view.translations.ati_total : view.translations.net_total)|upper }}</th>
        <td class="text-right sale-detail-total" id="final_base">{{ view.ati ? view.final.total|raw : view.final.base|raw }}</td>
        <th{% if view.vars.show_margin %} colspan="2" rowspan="4"{% else %} rowspan="3"{% endif %}>&nbsp;</th>
    </tr>
    <tr>
        <th>{{ view.translations.tax_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_tax">{{ view.final.adjustment }}</td>
    </tr>
    {% if not view.ati -%}
    <tr>
        <th>{{ view.translations.ati_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_total">{{ view.final.total|raw }}</td>
    </tr>
    {%- endif %}
    {% if view.vars.show_margin -%}
        <tr>
            <th>{{ view.translations.commercial_margin|raw }}</th>
            <td class="text-right sale-detail-total" id="commercial_margin">
                {%- if view.commercialMargin is not null -%}
                    {{ view.commercialMargin.amount }}<br>({{ view.commercialMargin.percent }})
                {%- else -%}
                    -
                {%- endif -%}
            </td>
        </tr>
        <tr>
            <th>{{ view.translations.profit_margin|raw }}</th>
            <td class="text-right sale-detail-total" id="profit_margin">
                {%- if view.profitMargin is not null -%}
                    {{- view.profitMargin.amount }}<br>({{ view.profitMargin.percent }})
                {%- else -%}
                    -
                {%- endif -%}
            </td>
        </tr>
    {%- endif %}
    </tbody>
{% endapply %}
{% endblock gran_totals %}


{% block coupon %}
{% apply spaceless %}
    {%- if view.vars.coupon_form is defined -%}
    <div class="row sale-coupon">
        <div class="col-sm-12">
            {{ form(view.vars.coupon_form) }}
        </div>
    </div>
    {%- endif -%}
{% endapply %}
{% endblock coupon %}


{% block sale %}
{% apply spaceless %}
    <div{% with {attr: view.vars.attr} %} {{ block('attributes') }}{% endwith %}>
        {{ form_start(view.vars.quantities_form) }}
            {{ form_errors(view.vars.quantities_form) }}
            <div class="table-responsive">
                <table class="table table-alt-head sale-detail">
                    {{ block('lines') }}

                    {% if view.discounts is not empty %}
                        {{ block('gross_totals') }}
                        {{ block('spacer') }}
                        {{ block('discounts') }}
                    {% endif %}

                    {% if view.shipment is not null %}
                        {{ block('spacer') }}
                        {% set line = view.shipment %}
                        <tbody><tr{% with {attr: line.vars.attr} %} {{ block('attributes') }}{% endwith %}>
                        {{ block('shipment') }}
                        </tr></tbody>
                    {% endif %}

                    {{ block('spacer') }}

                    {{ block('gran_totals') }}
                </table>
            </div>
        {{ form_end(view.vars.quantities_form) }}

        <div class="row">
            <div class="col-sm-4">
                {% if view.taxes is not empty %}
                    {{ block('taxes') }}
                {% endif %}
            </div>
            <div class="col-sm-8 sale-detail-buttons">
                {% if view.buttons is defined %}
                    {% for button in view.buttons %}
                        <a href="{{ button.path }}"{% with {attr: button.attributes} %} {{ block('attributes') }}{% endwith %}>
                            <i class="{{ button.icon }}"></i> {{ button.label }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {{ block('coupon') }}

        {{ block('alerts') }}
    </div>
{% endapply %}
{% endblock sale %}
