{% block attributes %}
{% spaceless %}
{% for name, value in attr %}
    {% if name == 'confirm' %}
        data-confirm="{{ value|escape }}"
    {% else %}
        {{ name }}{% if value is not empty %}="{{ value }}"{% endif %}
    {% endif %}
{% endfor %}
{% endspaceless %}
{% endblock attributes %}


{% block lines_headers %}
{% spaceless %}
    <th class="sale-detail-number">&nbsp;</th>
    <th class="sale-detail-designation">{{ view.translations.designation }}</th>
    <th>{{ view.translations.reference }}</th>
    {% if view.vars.show_availability -%}
    <th class="text-right">{{ view.translations.availability }}</th>
    {%- endif %}
    <th class="text-right">{{ view.ati ? view.translations.unit_ati_price : view.translations.unit_net_price }}</th>
    {% if view.vars.show_taxes -%}
    <th class="text-right">{{ view.translations.tax_rate }}</th>
    {%- endif %}
    <th class="text-right">{{ view.translations.quantity }}</th>
    {% if view.vars.show_discounts -%}
    <th class="text-right">{{ view.ati ? view.translations.ati_gross : view.translations.net_gross }}</th>
    <th class="text-center" colspan="2">{{ view.translations.discount }}</th>
    {%- endif %}
    <th class="text-right">{{ view.ati ? view.translations.ati_total : view.translations.net_total }}</th>
    {% if view.vars.show_margin -%}
    <th class="text-right">{{ view.translations.margin }}</th>
    {%- endif %}
{% endspaceless %}
{% endblock lines_headers %}


{% block line_quantity %}
{% spaceless %}
    <td class="sale-detail-quantity">
        <span id="{{ line.id }}_quantity">{{ line.quantity }}</span>
    </td>
{% endspaceless %}
{% endblock line_quantity %}


{% block line_taxes %}
{% spaceless %}
    <td class="text-right" id="{{ line.id }}_taxRates">
        {{- line.taxRates -}}
    </td>
{% endspaceless %}
{% endblock line_taxes %}


{% block line_discounts %}
{% spaceless %}
    <td class="text-right" id="{{ line.id }}_gross">
        {{- line.gross -}}
    </td>
    <td class="text-right" id="{{ line.id }}_discountRates">
        {{- line.discountRates -}}
    </td>
    <td class="text-right" id="{{ line.id }}_discountAmount">
        {%- if 0 < line.discountAmount %}-{{- line.discountAmount -}}{% endif -%}
    </td>
{% endspaceless %}
{% endblock line_discounts %}


{% block line_public %}
{% spaceless %}
    <td class="text-right" id="{{ line.id }}_unit">
        {%- if line.unit is not null %}{{ line.unit }}{% endif -%}
    </td>
    {%- if view.vars.show_taxes %}{{ block('line_taxes') }}{% endif -%}
    {{- block('line_quantity') -}}
    {% if view.vars.show_discounts %}{{ block('line_discounts') }}{% endif -%}
    <td class="text-right" id="{{ line.id }}_base">{{ line.base }}</td>
    {% if view.vars.show_margin -%}
    <td class="text-right" id="{{ line.id }}_margin">{{ line.margin }}</td>
    {%- endif %}
{% endspaceless %}
{% endblock line_public %}


{% block line_private %}
{% spaceless %}
    <td class="text-right" id="{{ line.id }}_unit">
        {%- if line.unit is not null %}{{ line.unit }}{% endif -%}
    </td>
    {%- if view.vars.show_taxes %}<td>&nbsp;</td>{% endif -%}
    {{- block('line_quantity') -}}
    <td colspan="{{ view.vars.show_discounts ? 4 : 1 }}">&nbsp;</td>
    {% if view.vars.show_margin -%}
        <td class="text-right" id="{{ line.id }}_margin">{{ line.margin }}</td>
    {%- endif %}
{% endspaceless %}
{% endblock line_private %}


{% block line %}
{% spaceless %}
    <tr{% with {attr: line.vars.attr} %} {{ block('attributes') }}{% endwith %}>
        <td class="sale-detail-number">{{ line.number }}</td>
        <td class="sale-detail-designation" id="{{ line.id }}_designation">
            {% if line.level > 0 -%}
                {% for i in 1..line.level -%}
                    <i class="
                    {%- if loop.last -%}
                        child{% if loop.parent.loop.last %} last{% endif %}
                    {%- else -%}
                        continue{% if loop.parent.loop.parent.loop.last %} last{% endif %}
                    {%- endif -%}
                    "></i>
                {%- endfor %}
            {%- endif %}
            <span>
            {%- if line.vars.link is defined -%}
                <a{% with {attr: {'href': 'javascript:void(0)'}|merge(line.vars.link)} %} {{ block('attributes') }}{% endwith %}>
                    {{ line.designation|raw }}
                </a>
            {%- else -%}
                {{ line.designation|raw }}
            {%- endif -%}
            {%- if line.description is not empty -%}
                <br><em>{{ line.description|raw }}</em>
            {%- endif -%}
            </span>
        </td>
        <td id="{{ line.id }}_reference" data-clipboard-copy="{{ line.reference }}">{{ line.reference }}</td>
        {% if view.vars.show_availability -%}
        <td class="sale-detail-availability" id="{{ line.id }}_availability">{{ line.availability|raw }}</td>
        {%- endif %}
        {%- if line.private -%}
            {{ block('line_private') }}
        {%- else -%}
            {{ block('line_public') }}
        {%- endif -%}
    </tr>
    {%- if line.vars.information is defined -%}
    <tr class="level-{{ line.level }}"
        id="{{ line.id }}_information" style="display: none">
        <td class="sale-detail-number">&nbsp;</td>
        {{ block('line_information') }}
    </tr>
    {% endif %}
    {% set lines = line.lines -%}
    {% for line in lines -%}
        {{ block('line') }}
    {%- endfor %}
    {# "line" variable has been overridden by childrens #}
{% endspaceless %}
{% endblock line %}


{% block line_information %}
{% spaceless %}
    <td class="sale-detail-information" colspan="{{ view.vars.columns_count - 1 }}">
        {{ line.vars.information|raw }}
    </td>
{% endspaceless %}
{% endblock line_information %}


{% block lines %}
{% spaceless %}
    <thead>
        <tr>
            {{ block('lines_headers') }}
        </tr>
    </thead>
    <tbody>
    {%- for line in view.items -%}
        {{ block('line') }}
    {%- endfor -%}
    </tbody>
{% endspaceless %}
{% endblock lines %}


{% block gross_totals %}
{% spaceless %}
    <tbody>
        <tr>
            <th>&nbsp;</th>
            <th class="text-right" colspan="{{ view.vars.columns_count - (view.vars.show_discounts ? 7 : 4) }}">
                <strong>{{ view.translations.gross_totals }}</strong>
            </th>
            {% if view.vars.show_discounts -%}
            <th class="text-right sale-detail-gross" id="gross_base">
                {{- view.gross.base -}}
            </th>
            <th class="text-right sale-detail-gross" colspan="2" id="gross_base">
                -{{- view.gross.adjustment -}}
            </th>
            {%- endif %}
            <th class="text-right sale-detail-gross" id="gross_base">
                {{- view.gross.total -}}
            </th>
            {%- if view.vars.show_margin %}<th>&nbsp;</th>{% endif -%}
        </tr>
    </tbody>
{% endspaceless %}
{% endblock gross_totals %}


{% block discount %}
{% spaceless %}
    <td class="sale-detail-number">{#{{ line.number }}#}</td>
    <td class="sale-detail-designation" id="{{ line.id }}_designation">
        <span>
            {{- line.designation|raw -}}
            {%- if line.description is not empty -%}
                <br><em>{{ line.description|raw }}</em>
            {%- endif -%}
        </span>
    </td>
    <td class="text-right" colspan="{{ view.vars.show_availability ? 3 : 2 }}">&nbsp;</td>
    {%- if view.vars.show_taxes %}{{ block('line_taxes') }}{% endif -%}
    <td{% if view.vars.show_discounts %} colspan="4"{% endif %}>&nbsp;</td>
    <td class="text-right" id="{{ line.id }}_base">-{{ view.ati ? line.total : line.base }}</td>
    {%- if view.vars.show_margin %}<td>&nbsp;</td>{% endif -%}
{% endspaceless %}
{% endblock discount %}


{% block discounts %}
{% spaceless %}
    <tbody>
    {% for line in view.discounts %}
        <tr{% with {attr: line.vars.attr} %} {{ block('attributes') }}{% endwith %}>
            {{ block('discount') }}
        </tr>
    {% endfor %}
    </tbody>
{% endspaceless %}
{% endblock discounts %}


{% block shipment %}
{% spaceless %}
    <td class="sale-detail-number">{#{{ line.number }}#}</td>
    <td class="sale-detail-designation" id="{{ line.id }}_designation">
        <span>
            {{- line.designation|raw -}}
            {%- if line.description is not empty -%}
                <br><em>{{ line.description|raw }}</em>
            {%- endif -%}
        </span>
    </td>
    <td class="text-right" colspan="{{ view.vars.show_availability ? 3 : 2 }}">&nbsp;</td>
    {%- if view.vars.show_taxes %}{{ block('line_taxes') }}{% endif -%}
    <td{% if view.vars.show_discounts %} colspan="4"{% endif %}>&nbsp;</td>
    <td class="text-right" id="{{ line.id }}_base">{{ view.ati ? line.total : line.base }}</td>
    {%- if view.vars.show_margin %}<td>&nbsp;</td>{% endif -%}
{% endspaceless %}
{% endblock shipment %}


{% block messages %}
{% spaceless %}
    {% if view.messages is not empty %}
    <p>
        {%- for message in view.messages -%}
            {{ message|raw }}<br>
        {%- endfor -%}
    </p>
    {% else %}
        &nbsp;
    {% endif %}
{% endspaceless %}
{% endblock messages %}


{% block gran_totals %}
{% spaceless %}
    <tbody>
    <tr>
        <td colspan="{{ view.vars.columns_count - (view.vars.show_margin ? 3 : 2) }}"
            rowspan="{{ (view.vars.show_margin ? 4 : 3) - (view.ati ? 1 : 0) }}">
            {{ block('messages') }}
        </td>
        <th>{{ (view.ati ? view.translations.ati_total : view.translations.net_total)|upper }}</th>
        <td class="text-right sale-detail-total" id="final_base">{{ view.ati ? view.final.total : view.final.base }}</td>
        {%- if view.vars.show_margin %}<td rowspan="{{ view.ati ? 3 : 4 }}">&nbsp;</td>{% endif -%}
    </tr>
    <tr>
        <th>{{ view.translations.tax_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_tax">{{ view.final.adjustment }}</td>
    </tr>
    {% if not view.ati -%}
    <tr>
        <th>{{ view.translations.ati_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_total">{{ view.final.total }}</td>
    </tr>
    {%- endif %}
    {% if view.vars.show_margin -%}
    <tr>
        <th>{{ view.translations.margin|upper }}</th>
        <td class="text-right sale-detail-total" id="final_margin">{{ view.margin.amount }}<br>({{ view.margin.percent }})</td>
    </tr>
    {%- endif %}
    </tbody>
{% endspaceless %}
{% endblock gran_totals %}


{% block taxes %}
{% spaceless %}
    <table class="table table-striped taxes-view">
        <thead>
        <tr>
            <th>{{ view.translations.tax_name }}</th>
            <th>{{ view.translations.tax_amount }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tax in view.taxes %}
            <tr>
                <td>{{ tax.name }}</td>
                <td class="text-right">{{ tax.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock taxes %}


{% block spacer %}
{% spaceless %}
    <tbody>
    <tr class="sale-detail-spacer">
        <td colspan="{{ view.vars.columns_count }}">&nbsp;</td>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock spacer %}


{% block sale %}
{% spaceless %}
    <div class="sale-view">
        <div class="table-responsive">
            <table class="table sale-detail">
                {{ block('lines') }}

                {% if view.discounts is not empty %}
                    {{ block('gross_totals') }}
                    {{ block('spacer') }}
                    {{ block('discounts') }}
                {% endif %}

                {% if view.shipment is not null %}
                    {{ block('spacer') }}
                    {% set line = view.shipment %}
                    <tbody><tr{% with {attr: line.vars.attr} %} {{ block('attributes') }}{% endwith %}>
                    {{ block('shipment') }}
                    </tr></tbody>
                {% endif %}

                {{ block('spacer') }}

                {{ block('gran_totals') }}
            </table>
        </div>

        {% if view.taxes is not empty %}
            {{ block('taxes') }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock sale %}
