{% extends '@Commerce/Sale/view.html.twig' %}

{% block integer_widget %}
{% spaceless %}
    <div class="sale-detail-quantity{% if errors|length > 0 %} has-error{% endif %}">
        {% set type = type|default('number') %}
        {% if errors|length > 0 %}
            {% set attr = attr|merge({'title': errors}) %}
        {% endif %}
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock %}


{% block actions %}
{% spaceless %}
    <td class="sale-detail-actions">
    {% if line.vars.actions is defined -%}
        {% if 2 < line.vars.actions|length -%}
            <div>
        {%- endif %}
        {% for action in line.vars.actions -%}
        <a href="{{ action.path }}"{% with {attr: action.attributes} %} {{ block('attributes') }}{% endwith %}>
            <i class="{{ action.icon }}"></i>
        </a>
        {%- endfor %}
        {% if 2 < line.vars.actions|length -%}
            <a href="javascript: void(0)" class="text-muted">
                <i class="fa fa-ellipsis-h"></i>
            </a>
        </div>
        {%- endif %}
    {%- endif %}
    </td>
{% endspaceless %}
{% endblock actions %}


{% block lines_headers %}
{% spaceless %}
    {{ parent() }}
    <th class="sale-detail-actions">
        {% if view.vars.private -%}
        <a data-sale-toggle-all-children
           href="javascript: void(0)"
           title="Afficher les détails">{# TODO Translate #}
            <i class="fa fa-info-circle"></i>
        </a>
        {#<a class="text-muted"
           data-dale-toggle-all-details
           href="javascript: void(0)"
           title="Afficher les information">#}{# TODO Translate #}{#
            <i class="fa fa-tasks"></i>
        </a>#}
        {%- endif %}
    </th>
{% endspaceless %}
{% endblock lines_headers %}


{% block line_quantity %}
{% spaceless %}
    <td class="sale-detail-quantity">
        {% if view.vars.form[line.formId] is defined %}
            {% form_theme view.vars.form[line.formId] _self %}
            {{ form_widget(view.vars.form[line.formId]) }}
        {% else %}
            <span id="{{ line.id }}_quantity">{{ line.quantity }}</span>
        {% endif %}
    </td>
{% endspaceless %}
{% endblock line_quantity %}


{% block line_public %}
{% spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endspaceless %}
{% endblock line_public %}


{% block line_private %}
{% spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endspaceless %}
{% endblock line_private %}


{% block line_information %}
{% spaceless %}
    <td class="sale-detail-information" colspan="{{ view.vars.columns_count - 2 }}">
        {{ line.vars.information|raw }}
    </td>
    <td class="sale-detail-actions">&nbsp;</td>
{% endspaceless %}
{% endblock line_information %}


{% block gross_totals %}
{% spaceless %}
    <tbody>
    <tr id="sale_gross">
        <th>&nbsp;</th>
        <th class="text-right" colspan="{{ view.vars.columns_count - (view.vars.show_discounts ? 7 : 4) }}">
            <strong>{{ view.translations.gross_totals }}</strong>
        </th>
        {%- if view.vars.show_discounts -%}
        <th class="text-right sale-detail-gross" id="gross_base">
            {{- view.gross.base -}}
        </th>
        <th class="text-right sale-detail-gross" colspan="2" id="gross_discount">
            -{{- view.gross.adjustment -}}
        </th>
        {%- endif -%}
        <th class="text-right sale-detail-gross" id="gross_total">
            {{- view.gross.total -}}
        </th>
        <th{% if view.vars.show_margin %} colspan="2"{% endif %}>&nbsp;</th>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock gross_totals %}


{% block discount %}
{% spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endspaceless %}
{% endblock discount %}


{% block shipment %}
{% spaceless %}
    {{ parent() }}
    {{ block('actions') }}
{% endspaceless %}
{% endblock shipment %}


{% block gran_totals %}
{% spaceless %}
    <tbody>
    <tr>
        <td colspan="{{ view.vars.columns_count - (view.vars.show_margin ? 4 : 3) }}"
            rowspan="{{ (view.vars.show_margin ? 4 : 3) - (view.ati ? 1 : 0) }}" class="sale-detail-buttons">
            {{ block('messages') -}}
            {{ form_widget(view.vars.form.submit) -}}
        </td>
        <th>{{ (view.ati ? view.translations.ati_total : view.translations.net_total)|upper }}</th>
        <td class="text-right sale-detail-total" id="final_base">{{ view.ati ? view.final.total|raw : view.final.base|raw }}</td>
        <th{% if view.vars.show_margin %} colspan="2" rowspan="4"{% else %} rowspan="3"{% endif %}>&nbsp;</th>
    </tr>
    <tr>
        <th>{{ view.translations.tax_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_tax">{{ view.final.adjustment }}</td>
    </tr>
    {% if not view.ati -%}
    <tr>
        <th>{{ view.translations.ati_total|upper }}</th>
        <td class="text-right sale-detail-total" id="final_total">{{ view.final.total|raw }}</td>
    </tr>
    {%- endif %}
    {% if view.vars.show_margin -%}
    <tr>
        <th>{{ view.translations.margin|upper }}</th>
        <td class="text-right sale-detail-total" id="final_margin">{{ view.margin.amount }}<br>({{ view.margin.percent }})</td>
    </tr>
    {%- endif %}
    </tbody>
{% endspaceless %}
{% endblock gran_totals %}


{% block sale %}
{% spaceless %}
    {{ form_start(view.vars.form, {'attr': {'class': 'sale-view'}}) }}
        {{ form_errors(view.vars.form) }}
        <div class="table-responsive">
            <table class="table sale-detail">
                {{ block('lines') }}

                {% if view.discounts is not empty %}
                    {{ block('gross_totals') }}
                    {{ block('spacer') }}
                    {{ block('discounts') }}
                {% endif %}

                {% if view.shipment is not null %}
                    {{ block('spacer') }}
                    {% set line = view.shipment %}
                    <tbody><tr{% with {attr: line.vars.attr} %} {{ block('attributes') }}{% endwith %}>
                    {{ block('shipment') }}
                    </tr></tbody>
                {% endif %}

                {{ block('spacer') }}

                {{ block('gran_totals') }}
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% if view.taxes is not empty %}
                    {{ block('taxes') }}
                {% endif %}
            </div>
            <div class="col-sm-8 sale-detail-buttons">
                {% if view.vars.buttons is defined %}
                    {% for button in view.vars.buttons %}
                        <a href="{{ button.path }}"{% with {attr: button.attributes} %} {{ block('attributes') }}{% endwith %}>
                            <i class="{{ button.icon }}"></i> {{ button.label }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {{ form_end(view.vars.form) }}

    {{ block('alerts') }}
{% endspaceless %}
{% endblock sale %}
